:root {
 max-width: 540px;
 font-family: 'Outfit-regular', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Outfit-regular', sans-serif;
}

body {
  color: #272829;
  background: #faf8f8
}

input {
  font-family: 'Outfit-regular', sans-serif;
  color: #272829;
}

input:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: 'Outfit-regular', sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


@font-face {
  font-family: 'Outfit-Bold';
  src: url('../../vendor/fonts/Outfit-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit-Bold';
  src: url('../../vendor/fonts/Outfit-medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit-Bold';
  src: url('../../vendor/fonts/Outfit-regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
