.add-item-form {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.add-item-form__input {
    width: 80%;
    background-color: transparent;
    border: 2px solid #4E4FEB;
    border-radius: 5px 0 0 5px;
    padding-left: 10px;
    min-height: 40px;
}

.add-item-form__button {
    width: 20%;
    background-image: linear-gradient(to right, #4E4FEB, #068FFF);
    border: none;
    border-radius: 0 5px 5px 0;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}