.shopping-list-item {
  margin-bottom: 10px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2px 1px;
  border-radius: 5px;
  padding: 0 10px;
}

.shopping-list-item_completed {
  background-color: #e8e8e8;
  text-decoration: line-through;
}

.shopping-list-item__category-circle {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border-radius: 100%;
  background-color: #ff9f0a;
}

.shopping-list-item__name {
  text-align: left;
}

.shopping-list-item__quantity {
  text-align: right;
  margin-right: 10px;
}

.shopping-list-item__delete-button {
  margin-left: auto;
  border: none;
  cursor: pointer;
  width: 22px;
  height: 22px;
  background-color: transparent;
}

.shopping-list-item__delete-icon {
  width: 100%;
  height: 100%;
  color: #3c3c43;
}
